@model CVLAdminPanel.Models.PasswordChangeDTO

@{
    ViewData["Title"] = "ChangePassword";
}


<div class="Company-List-View container">
    <div class="h2 col-md-12 text-center pb-2">CHANGE PASSWORD</div>
    <div class="container">
        <form asp-action="ChangePassword" method="post" asp-controller="Settings">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="password" class="control-label">Previous Password</label>
                <input asp-for="password" class="form-control" />
                <span asp-validation-for="password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="newPassword" class="control-label">New Password</label>
                <input asp-for="newPassword" type="password" class="form-control" />
                <span asp-validation-for="newPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Confirm Password</label>
                <input name="ConfirmPassword" type="password" class="form-control" />
            </div>
            <div class="form-group text-right">
                <input type="submit" value="Change" class="btn btn-primary" />
                <input type="reset" value="Clear" class="btn btn-danger" />
            </div>
        </form>
    </div>
</div>

