 <!-- Header -->
<div class="header">
    <div class="container">
        <div class="header-body text-center mb-3 mt-4">
            <div class="row justify-content-center">
                <div class="col-lg-5 col-md-6">
                    <h2 class="text-white">Forget Passsword</h2>
                    <p class="text-lead text-light">Please enter your email/username </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container pb-5 ">
    <div class=" row justify-content-center ">
        <div class="col-lg-6 col-md-7 ">
            <div class="card bg-secondary shadow border-0 ">
                <div class="card-header bg-transparent pb-5 pt-5 text-center ">
                    <img src="@Url.Content("~/Content/img/brand/logo.png")" class="login-logo-img " alt="... ">
                </div>

                <div class="container-fluid">
                    @Html.Partial("Notification/_notificationView")
                </div>

                <div class="card-body px-lg-5 py-lg-5 ">
                    <form method="post" asp-action="ForgetPassword" asp-controller="Settings">
                        @Html.AntiForgeryToken()
                        <div class="form-group mb-3 ">
                            <div class="input-group input-group-alternative ">
                                <div class="input-group-prepend ">
                                    <span class="input-group-text "><i class="fas fa-user"></i></span>
                                </div>
                                <input type="email" name="email" class="form-control login-input" placeholder="Username/email" required />
                            </div>
                        </div>

                        <div class="text-center ">
                            <button type="submit" class="btn btn-primary my-4 btn-block ">Subbmit</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
<style>
    .form-control {
        font-size: 0.75rem;
    }
</style>