<div class="modal-body">
    <div class="alert alert-primary" role="alert">
        <div class="border-bottom mb-4">
            <label class="h3">Not Found</label>

            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div id="notfound">

            <div class="notfound">
                <div class="notfound-404"></div>
                <h2>Oops! Employer Details Not Be Found</h2>
                <p>Sorry but the page you are looking for does not exist, have been removed. name changed or is temporarily unavailable</p>
            </div>
        </div>
    </div>
</div>