<footer class="p-3 bg-gradient-primary ">
    <div class="container-fluid custom-footer" style="font-size:.75rem;color:#fff">
        &copy; 2020 CVLinked Admin Panel. All rights reserved.
    </div>
</footer>
